@import "tailwindcss";

@theme {
  --color-primary: #0a66c2;
  --color-secondary: #fd9900;
  --color-accent: #10b981;
  --color-neutral-dark: #1118278;
  --width-46: 11.5rem;
  --height-46: 11.5rem;
}
